/* --- default styles --- */

:root {
  --main-bg: #dfdfdf;
  --main-accent: #3d5a80;
  --main-accent-text: #fff;
  --main-headers: #293241;
  --main-shadow: #3d5a802e 5px 5px 5px;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0 5%;
  background-image: url("./circles-background.jpg");
  background-color: var(--main-bg);
}

.font-default {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #878787;
}

.title {
  font-size: 24px;
  color: black;
  font-family: oswald;
  line-height: 1.2;
}

.selected-text {
  background-color: var(--main-headers);
  color: white;
  margin: 8px 0 0 -32px;
  display: block;
  width: fit-content;
  padding: 4px 8px 8px 32px;
  font-size: 41px;
  box-shadow: var(--main-shadow);
}

.list {
  list-style-type: none;
  counter-reset: item;
}

section {
  margin: 64px 0;
  padding: 0 10%;
}

/* --- sections --- */

.main-screen-section {
  height: 100vh;
  padding-top: 54px;
  margin-top: 0;
  box-sizing: border-box;
}

.main-screen-section__title {
  font-size: 48px;
  margin-bottom: 32px;
  max-width: 700px;
}

.main-screen-section__photo {
  position: absolute;
  top: 15%;
  right: 20px;
  width: 800px;
  z-index: -1;
}

.advantages {
  background-color: rgba(248, 248, 255, 0.774);
  padding: 12px 32px 16px 32px;
  margin-left: -32px;
  width: fit-content;
  box-shadow: var(--main-shadow);
}

.advantages li {
  display: block;
  padding: 8px;
  width: fit-content;
  margin: 4px;
}

.plan {
  display: flex;
  padding-top: 32px;
  position: relative;
}

.plan__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__steps-divider {
  height: 187px;
  width: 5px;
  background-color: var(--main-headers);
}

.plan__steps-divider_short {
  height: 40px;
}

.plan__step {
  font-size: 72px;
  color: var(--main-headers);
  position: relative;
  left: 12px;
}

.plan__step::after {
  content: "-";
  font-size: 72px;
  color: var(--main-headers);
  position: relative;
  bottom: 8px;
  left: 12px;
}

.list_type_numbered {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list_type_numbered__title {
  padding: 16px 16px 16px 32px;
  font-size: 32px;
  border-radius: 25px 25px 0 0;
  background-color: var(--main-accent);
  font-family: "oswald";
  color: var(--main-accent-text);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_type_numbered li:nth-child(2n) .list_type_numbered__title {
  background-color: var(--main-headers);
}

.list_type_numbered__title::before {
  content: "0" counter(item);
  counter-increment: item;
  font-size: 72px;
  width: 107px;
  color: var(--main-accent-text);
  position: absolute;
  left: -126px;
  top: -5px;
  background-color: var(--main-accent);
  border-radius: 50%;
  text-align: center;
  padding: 0 4px 4px 0;
  z-index: -1;
  box-shadow: var(--main-shadow);
}

.list_type_numbered__title-icon {
  height: 68px;
}

.list_type_numbered li:nth-child(2n) .list_type_numbered__title::before {
  background-color: var(--main-headers);
}

.list_type_numbered__vertical-divider {
  width: 5px;
  height: 2280px;
  background-color: var(--main-headers);
  position: absolute;
  left: -26px;
  top: 64px;
  z-index: -1;
  box-shadow: var(--main-shadow);
}

.list_type_numbered__text {
  padding: 24px;
}

.list_type_numbered li {
  border-radius: 25px;
  height: 220px;
  margin: 16px 16px 16px 46px;
  font-size: large;
  margin-bottom: 32px;
  box-shadow: var(--main-shadow);
  background-color: white;
  color: var(--main-accent);
}

.long {
  height: 270px !important;
}

.navigation {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: var(--main-headers);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 48px;
  z-index: 999;
}

.navigation img {
  width: 24px;
}

.navigation ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation__icon {
  margin-left: 24px;
}

.navigation__element {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
}

.navigation__element:hover {
  background-color: #878787;
}

.navigation__element-link {
  padding: 15px 0;
  width: 100%;
  text-decoration: none;
  color: white;
}

.contacts__cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 64px;
}

.contacts__card {
  font-size: x-large;
  font-family: "Oswald";
  font-weight: 400;
  text-align: center;
  color: var(--main-headers);
}

.contacts__links {
  text-align: center;
}

.contacts__links a {
  text-decoration: none;
  color: rgb(75, 73, 201);
  font-size: 24px;
}

.contacts__photo {
  height: 300px;
  min-width: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.feedback__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.feedback__image {
  width: 210px;
  height: 280px;
  object-fit: cover;
  object-position: top;
}

.feedback__image-full {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
}

.feedback__image-full img {
  max-height: 100%;
}

.feedback__image:focus + .feedback__image-full {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#price {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 64px;
  font-family: "Oswald";
  font-weight: 600;
  align-self: flex-end;
  margin-right: 48px;
}
